VITE_API_URL=http://localhost:3001

DATABASE_URL=postgresql://...
ADMIN_USER=your_username
ADMIN_PASS=your_password
JWT_SECRET=your_jwt_secret
BASE_URL=http://localhost:3001
CLOUDINARY_URL=cloudinary://...
